.slideToUnlock {
  
    background-color:white;
    height: 50px;
    position:relative;
    color: #692003;
    font-size: 16px;
    font-weight: 900;   
    text-align: center;
    line-height: 50px;
    border-radius: 2px;
    background-color: #eff3ea;
}
.progressBar {
    position: absolute;
    left:0;
    top:0;
    width: 0;
    height: 100%;   
    background-color: rgba(8, 252, 20, 0.5);
   } 
   
/* #container:after {
    content:'\A';
    position:absolute;
    background:rgb(100, 221, 100);
    top:0; bottom:0;
    left:0; 
    width:100px;
} */

#start {
    width: 70px;
    display: inline-block;
    height: 50px;
    color: rgb(100, 221, 100);
    
}

.drag {
    position: absolute;
    width:45px;
    left:0px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    border: 1px solid #cccccc;
    background: #fff;
    /* z-index: 13; */
    cursor: move;
    color: #692003;
    font-size: 16px;
    font-weight: 900;   
    text-align: center;

}

#end {
    width:70px;
    /* display: inline-block; */
    height: 50px;
    /* margin-left: -70px; */
    float: right;
    color: rgb(100, 221, 100);
}